{% extends "base.html" %}
{% load static %}

{% block title %} Main {% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="#" title="Create new project">Create</a>
    </li>
{% endblock %}
{% block search-block %}
    {% include "partial/search_form.html" %}
{% endblock %}

{% block pagename %}Projects{% endblock %}
{% block content %}
    <div class="row">
    {% for project in projects %}
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body bg-light">
                    <h4 class="card-title text-dark">{{ project.name }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-light">
                        <p><b>Todolist:</b>
                            {% for todo in project.todolist.all %}{{ todo.summary }}{% if not forloop.last %},
                            {% endif %}{% empty %}<span class="text-danger">Tasks not found.</span>{% endfor %}</p>
                    </li>
                    <li class="list-group-item bg-light"><b>Start date: </b>{{ project.start_date|date:"Y-m-d" }}.</li>
                    <li class="list-group-item bg-light"><b>End
                        date: </b>{% if project.end_date %}{{ project.end_date|date:"Y-m-d" }}. {% else %}
                        <span class="text-danger">End date not set!</span>{% endif %}
                    </li>
                </ul>
                <div class="card-body bg-light">
                    <a href="#" class="card-link" title="Detail view"><span
                            class="material-symbols-outlined">visibility</span></a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="not_found text-danger" style="position: relative; height: 400px">
        <h2 style="position: absolute; top: 50%; left: 50%; margin: 0 -50% 0 0; transform: translate(-50%, -50%)">Todo
            with this number was not found!</h2>
    {% endfor %}
</div>
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
{% endblock %}

