{% extends "base.html" %}
{% block title %}Detail{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a href="{% url 'update' todo.id %}" class="nav-link" title="Update todo">Update</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'delete' todo.id %}" class="nav-link" title="Delete todo">Delete</a>
    </li>
{% endblock %}
{% block pagename %}Todo detail view{% endblock %}
{% block content %}
    <h3>{{ todo.summary }}</h3>
    <p><b>Description:</b>{% if todo.description %} {{ todo.description }} {% else %}
        <span style="color: rgb(224, 54, 2)"> Description has not been added yet. </span>{% endif %}</p>
    <p><b>Types:</b> {% for type in todo.types.all %}{{ type.types }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </p>
    <p><b>Status:</b> {{ todo.status }}</p>
    <p><b>Created date:</b> {{ todo.created_date|date:"Y-m-d H:i:s." }}</p>
    <p><b>Updated date:</b> {{ todo.updated_date|date:"Y-m-d H:i:s." }}</p>
{% endblock %}