{% extends "base.html" %}
{% block title %}Просмотр{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a href="{% url 'create' %}" class="nav-link" title="Create new todo">Create</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'update' todo.id %}" class="nav-link" title="Update todo">Update</a>
    </li>
    <li class="nav-item">
        <a type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#DeleteTodo" title="Delete this todo">Delete</a>
    </li>
{% endblock %}
{% block pagename %}Todo detail view{% endblock %}
{% block content %}
    <h3>{{ todo.summary }}</h3>
    <p><b>Description:</b>{% if todo.description %} {{ todo.description }} {% else %}
        <span style="color: rgb(224, 54, 2)"> Description has not been added yet. </span>{% endif %}</p>
    <p><b>Types:</b> {% for type in todo.types.all %}{{ type.types }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </p>
    <p><b>Status:</b> {{ todo.status }}</p>
    <p><b>Created date:</b> {{ todo.created_date|date:"Y-m-d H:i:s." }}</p>
    <p><b>Updated date:</b> {{ todo.updated_date|date:"Y-m-d H:i:s." }}</p>

    {#    ---------------------------------------------------------------#}
    <div class="modal" tabindex="-1" id="DeleteTodo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="DeleteTodo">{{ todo.summary }} №{{ todo.id }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this todo?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No</button>
                    <form action="{% url 'delete' todo.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}