{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block pagename %}Login{% endblock %}
{% block content %}
    <div class="justify-content-center">
        <form action="" method="post" class="w-50 ms-auto me-auto text-center">
            {% csrf_token %}
            {% if has_error %}
                <p class="text-danger">The username or password you entered is incorrect!</p>
            {% endif %}
            <div class="form-group">
                <label for="username" class="form-label" style="margin: 30px 0; font-size: 24px">Username:</label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password" class="form-label" style="margin: 30px 0; font-size: 24px">Password:</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <a href="{% url 'todolist:project_index' %}" type="button" class="btn btn-danger mt-4 me-5">Cancel</a>
            <button class="btn btn-success mt-4" type="submit">Login</button>
        </form>
    </div>
{% endblock %}